.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding-bottom: 24px;
}

.Error {
  margin: 20px 0;
  padding: 10px;
  background-color: #ffbaba;
  color: #d8000c;
  border-radius: 5px;
  border: 1px solid #d8000c;
  text-align: center;
}
